<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ACL: Java: Introduction to programming</title>

	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Bootstrap -->
	
	<script src="js/modernizr.custom.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/flickity.css" rel="stylesheet" >
	<link href="css/animate.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/ingion.css" rel="stylesheet">
	<link href="css/queries.css" rel="stylesheet">
	<link href="css/shakibadds.css" rel="stylesheet">
</head>
<body class= "home-page">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
	
	<div class="mdl-layout mdl-js-layout myNavbarcolor">
			<header class="mdl-layout__header mdl-layout__header--scroll">
	    		<div class="mdl-layout__header-row ">
	    			<span class="headerlogo">  <img class='logo' src="img/large/Logo/ACL.png" alt="ACL Logo" height="100%" width="100%"> </span>
	      			<!-- Title -->
	      			<span class="space"></span>
			      	<span class="mdl-layout-title companyName headerColor"> American Computers Limited</span>
			      	<!-- Add spacer, to align navigation to the right -->
			      	<div class="mdl-layout-spacer"></div>
			      	<!-- Navigation -->
			      	<nav class="mdl-navigation headerColor">
			        	<a class="mdl-navigation__link" href="">Home</a>
			        	<a class="mdl-navigation__link" href="">Courses</a>
			        	<a class="mdl-navigation__link" href="">Products</a>
			        	<a class="mdl-navigation__link" href="">About</a>
			        	<a class="mdl-navigation__link" href="">Contacts</a>
			      	</nav>
			    </div>
	  		</header>
	  		<div class="mdl-layout__drawer">
	  			<span class="sidebarlogo">  <img class='logo' src="img/large/Logo/ACL.png" alt="ACL Logo" height="80%" width="80%"> </span>
			    <nav class="mdl-navigation">
			      	<a class="mdl-navigation__link" href="">Home</a>
			      	<a class="mdl-navigation__link" href="">Courses</a>
			      	<a class="mdl-navigation__link" href="">Products</a>
			      	<a class="mdl-navigation__link" href="">About</a>
			        <a class="mdl-navigation__link" href="">Contacts</a>
			    </nav>
			 </div>
  		<main class="mdl-layout__content mnctrl coursePage">

  			<section class="coursesTitle">
  				<div class="container">
  					<div class="row">
	  					<div class="col-md-6">
	  						<div class="courseTitle">
	  							<h1>
	  								Java: Introduction to programming
	  							</h1>
	  							<hr>
	  							<div class="courseDetails">
	  								<h3>
	  									About this course:
	  								</h3>

	  								<p>How does Google Maps plan the best route for getting around town given current traffic conditions?  How does an internet router forward packets of network traffic to minimize delay?  How does an aid group allocate resources to its affiliated local partners?</p>
	  								<p>
									To solve such problems, we first represent the key pieces of data in a complex data structure. In this course, you’ll learn about data structures, like graphs, that are fundamental for working with structured real world data.  You will develop, implement, and analyze algorithms for working with this data to solve real world problems.   In addition, as your programs you develop in this course become more complex, we’ll examine what makes for good code and class hierarchy design so that you can not only write correct code, but also share it with other people and maintain it in the future.</p>
									<p>
									The backbone project in this course will be a route planning application.  You will apply the concepts from each Module directly to building an application that allows an autonomous agent to navigate its environment.  And as usual we have our different video series to help tie the content back to its importance in the real world and to provide tiered levels of support to meet your personal needs.</p>

	  							</div>
	  							<hr>
	  							<div class="courseSyllabus">
	  								<h3>
	  									Course Syllabus:
	  								</h3>
	  								<ul>
	  									<li> Introduction to programming</li>
	  									<li> Introduction to JVM</li>
	  									<li> Introduction to Loop</li>
	  									<li> Advance Loop</li>
	  									<li> Recursion</li>
	  								</ul>
	  							</div>
	  							<div class="coursePrerequisite">
	  								<h3>
	  									Recommened Background:
	  								</h3>
	  								<div class="coursePrerequisite details">
	  									For this course you don't need any particular background. This course is rommended for anyone interested in Java programming or basic programming.
	  								</div>
	  							</div>
	  						</div>
	  					</div>

	  					<div class="col-md-6">
	  						<br>
	  						<br>
	  						<br>
	  						<div class="courseVideo">
	  							<iframe width="560" height="315" src="https://www.youtube.com/embed/Bq1ZCIr2MgA" frameborder="0" allowfullscreen></iframe>
	  						</div>
	  						<div class="row">
	  							<div class="col-md-2">
	  							</div>
	  							<div class="col-md-8">
	  								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pdfDownloadButton">
									  	Download PDF Brochure
									</button>
	  							</div>
	  							<div class="col-md-2">
	  							</div>
	  						</div>
	  						<hr>
	  						<div class="courseSession">
	  							<h3>
	  								Session details:
	  							</h3>
	  							<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mytable">
									<thead>
									    <tr>
									    	<th class="mdl-data-table__cell--non-numeric">Status</th>
									    	<th class="mdl-data-table__cell--non-numeric">Start Date</th>
									    	<th class="mdl-data-table__cell--non-numeric">Duration</th>
									    	<th class="mdl-data-table__cell--non-numeric">Week days</th>
									    </tr>
								  	</thead>
								  	<tbody>
									    <tr>
									    	<td class="mdl-data-table__cell--non-numeric">Running</td>
									    	<td class="mdl-data-table__cell--non-numeric">15-Jan-2015</td>
									    	<td class="mdl-data-table__cell--non-numeric">10 weeks</td>
									    	<td class="mdl-data-table__cell--non-numeric">Sat - Mon - Thurs</td>
									    </tr>
									    <tr>
									    	<td class="mdl-data-table__cell--non-numeric">Running</td>
									    	<td class="mdl-data-table__cell--non-numeric">15-Jan-2015</td>
									    	<td class="mdl-data-table__cell--non-numeric">10 weeks</td>
									    	<td class="mdl-data-table__cell--non-numeric">Sat - Mon - Thurs</td>
									    </tr>
									    <tr>
									    	<td class="mdl-data-table__cell--non-numeric">Upcoming</td>
									    	<td class="mdl-data-table__cell--non-numeric">15-Jan-2015</td>
									    	<td class="mdl-data-table__cell--non-numeric">10 weeks</td>
									    	<td class="mdl-data-table__cell--non-numeric">Sat - Mon - Thurs</td>
									    </tr>
								  	</tbody>
								</table>
	  						</div>
	  					</div>
	  				</div>
  				</div>
  			</section>

  			<br><br>

			<svg id="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 100 C40 0 60 0 100 100 Z"></path>
			</svg>

			<footer>

				<div class="container">
					<div class="row">
						<img class='logo' src="img/ACL inverted.png" alt="ACL Logo">
					</div>
					<div class="row">
						<div class="companyName">
							American Computers Ltd
						</div>
					</div>
					<div class="socialicons row">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus-square"></i></a>

					</div>
					<!--
					<nav>
						<a href="#">Home</a>
						<a href="#">Products</a>
						<a href="#">About</a>
						<a href="#">Jobs</a>
						<a href="#">Blog</a>
						<a href="#">Contact</a>

					</nav>
				-->
					<div class="footerend row">
						&copy; 2015 American Computers Ltd., All rights reserved.
					</div>
				</div>

			</footer>
  		</main>
	</div>

		
	<!--
		<section class="blogroll">
			<div class="container">
				<div class="row">
					<h1>Stories</h1>
					<h3>From the blog</h3>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-12 blog-right">
						<div class="blogentry">
							<h2>Towards a Better Tomorrow</h2>
							<p>The CEO talks about the far-reaching vision of ingion.</p>
							<a href="#">Read more <i class="fa fa-arrow-right"></i></a>
						</div>
					</div>

					<div class="col-md-6 col-sm-12 blog-left">
						<div class="blogentry">
							<h2>A Great Day</h2>
							<p>Ingion launches public beta of their first product.</p>
							<a href="#">Read more <i class="fa fa-arrow-right"></i></a>
						</div>
					</div>

				</div>
			</div>
		</section>
	-->
		



		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/min/toucheffects-min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/flickity.pkgd.min.js"></script>
		<script src="js/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/retina.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>

		<script src="js/snap.svg-min.js"></script>
		<script src="js/hovers.js"></script>

	</body>
	</html>
